DADOS

Bases de dados do site kaggle: https://www.kaggle.com/code/allanbruno/helping-regular-people-price-listings-on-airbnb/input?select=total_data.csv

INSTALAÇÕES

pip install pandas
pip install seaborn
pip install plotly
pip install joblib
pip install streamlit


SOBRE INSTALAÇÕES

As instalações joblib e streamlit foram realizadas no Anaconda Prompt no diretório base do usuário.

SOBRE O AMBIENTE DO PROJETO 

O projeto foi construído no Jupyter Notebook. E o arquivo deploy.py foi gerado a partir de deploy.ipynb em File, Save and Export Notebook As, Executable Script.

SOBRE O DEPLOY

Para efetivar o deploy, no terminal Anaconda Prompt, entre na pasta do projeto e rode "streamlit run deploy.py" sem as aspas.
